@use 'variables' as var;
@use 'animations';

.error-toast{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var.$error-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
    flex-flow: column;
    justify-content: space-evenly;
    animation: slide-down 1s forwards;
    z-index: 20;

    &__error-msg{
        margin-bottom: 1rem;
    }
}

