@use "variables" as v;

*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 62.5%; // 1rem = 10px
    font-weight: 400;
    line-height: 1.6;
    background-image: linear-gradient(to right bottom, v.$primary-dark, v.$primary-light);
    background-size: cover;
    background-repeat: no-repeat;
    color: v.$grey-1;

    min-height: 100vh;
}
  