@use 'variables' as var;

.map-1, .map-2{
    grid-column: map-start / map-end;
    background-color: var.$grid-item-background;
}

.map{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &__header{
        position: absolute;
        font-size: 1.2rem;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        color: var.$grey-1;
        background-color: hsl(216, 40%, 10%, 0.6);
        padding: 0.5rem 0;
        z-index: 10;
    }
}

@media (max-width: var.$medium) {
    .map-1{
        grid-column: 1 / -1;
        grid-row: 2 / 3;
    }
    .map-2{
        grid-column: 1 / -1;
        grid-row: 4 / 5;
    }
}