@use 'variables' as var;

.location-info{

    background-color: var.$grid-item-background;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-flow: column;
   
    
    li{
        list-style: none;
    }
}

.location-1, .location-2{
    grid-column: info-start / info-end;
}

@media (max-width: var.$medium) {
    .location-1{
        grid-column: 1 / -1;
        grid-row: 3 / 4
    }
    .location-2{
        grid-column: 5 / 6;
    }
}