@use 'variables' as var;

.search-list__container{
    grid-column: list-start / list-end;
    grid-row: 1 / -1;
    background-color: var.$grid-item-background;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    display: flex;
    flex-flow: column;
   
    
    li{
        list-style: none;
    }
}
