@use 'variables' as var;

.search-bar__container{
    grid-column: map-start / info-end;
    display: flex;
    justify-content: space-evenly;

    input{
        width: 50%;
        border-radius: 5rem;
        background-color: var.$grid-item-background;
        border: none;
        transition: all .2s;
        color: inherit;
        padding: 0 1rem;
        font-size: 1rem;

        &::placeholder{
            color: var.$grey-2;
        }
    
        &:focus, :active{
            outline: none;
            box-shadow: inset 0 0 2px 2px var.$secondary;
        }
    }



    .search-btn{
        background-color: var.$primary-dark;
        color: inherit;
        &:hover{
            background-color: var.$primary;
            cursor: pointer;
        }
        &:focus, :active{
            outline: none;
            box-shadow: inset 0 0 2px 2px var.$secondary;
        }
    }
}

@media (max-width: var.$medium) {
    .search-bar__container{
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        padding: 1rem;
    }
}