$primary: hsl(216, 65%, 40%);
$primary-light: hsl(216, 65%, 60%);
$primary-dark:hsl(216, 65%, 15%);

$grid-item-background: hsl(216, 40%, 10%, 0.3);

$secondary: hsl(119, 70%, 73%);

$accent-color: hsl(60, 92%, 71%);

$grey-1: hsl(232, 15%, 90%);
$grey-2: hsl(232, 15%, 85%);
$grey-3: hsl(232, 15%, 80%);