$primary: hsl(216, 65%, 40%);
$primary-light: hsl(216, 65%, 60%);
$primary-dark:hsl(216, 65%, 15%);

$grid-item-background: hsl(216, 40%, 10%, 0.3);

$secondary: hsl(119, 70%, 73%);

$error-primary: hsl(0, 90%, 40%, 0.7);
$error-dark: hsl(0, 90%, 20%, 0.7);
$error-dark-2: hsl(0, 90%, 20%);

$grey-1: hsl(232, 15%, 90%);
$grey-2: hsl(232, 15%, 65%);

//break points for media queries
$medium: 800px;
$medium-large: 1200px;