@use "variables" as v;
@use "localize-map";
@use "location-info";
@use "search-bar";
@use "search-list";
@use "error-toast";
@use "spinner";

*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 62.5%; // 1rem = 10px
    font-weight: 300;
    line-height: 1.6;
    background-image: linear-gradient(to right bottom, v.$primary-dark, v.$primary-light);
    background-size: cover;
    background-repeat: no-repeat;
    color: v.$grey-1;
}

.container{
    min-height: 100vh;
    padding: 10vh 5vw;
    display:grid;
    grid-template-columns: [list-start] minmax(5rem, 1fr) [list-end map-start] 
    repeat(2, minmax(5rem, 1fr)) [map-end info-start]
    minmax(5rem, 1fr) [info-end];
    grid-template-rows: minmax(10rem, 1fr) auto minmax(10rem, 1fr);
    gap: 1rem;
    font-size: 1.6rem;
}

@media (max-width: 800px) {
    .container{
        padding: 1rem;
        grid-template-columns: minmax(5rem, 1fr);
        grid-template-rows: auto repeat(5, minmax(5rem, 1fr));
        gap: 0.5rem;
        font-size: 1rem;
    }
}


h2{
    font-size: 1rem;
    font-weight: 200;
    text-transform: uppercase;

}

.loading-animation{
    animation: loading-opacity 3s infinite ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

